@use "../../styles/breakpoints" as *;
@use "../../styles/fonts" as *;

.quiz {

    *,
    *::before,
    *::after {
    box-sizing: border-box;
}

    font-family: "VideoGame", sans-serif;
    border: 3px solid rgb(54, 25, 186);
    border-radius: 1rem;
    box-shadow: 6px 14px 15px 0px rgba(47, 11, 87, 0.68);
    display: flex;
    justify-content: center;
    margin: 3rem 5rem;
    height: 45rem;
    width: 80vw;
     background-color: #c19ce6;

    &__body {
        text-align: center;
    }

    &__ask {
        display: grid;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    &__answers {
        height: 28rem;
        width: 28rem;
        border: 5px dotted rgb(224, 235, 6);
        border-radius: 0.5rem;
        background-color: #4c8cb6;
        box-shadow: 1rem 1rem #10598a;
    }

    &__options {
        margin: 20px auto;
        width: 25.5rem;
        height: 25rem;
        background-color: #fff;
        display: grid;
        grid-template-columns: 12.5rem 12.5rem;
        grid-row: auto auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1.3rem;
        padding-left: 0rem; 
        background-color: #4c8cb6;
    }

    &__option {
        list-style: none;
        background-color: #ea925f;
        padding: 1.25rem;
        border-radius: 0.8rem;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2vw;
        height: 12rem;
        width: 12rem;
        overflow: scroll;
    }

    &__correct {
        background-color: greenyellow;
        color: purple;
        border: 3px solid rgb(40, 87, 141);
    }

    &__incorrect {
        background-color: #f17e1f;
        color: rgb(14, 82, 82);
        border: 3px solid rgb(160, 56, 18);
    }

    &__button {
        width: 100%;
        display:flex;
        justify-content: center;
    }
    &__reload {
        margin-top: 3rem;
        background-color: #b545d7;
        border: none;
        font-size: 1.5rem;
        padding: 0.5rem 4rem;
        border-radius: 1.5rem;
        box-shadow: 0.5rem 0.5rem #76167b;
        font-family: "VideoGame";
        width: 15rem;
        display: flex;
        justify-content: center;
    }
}