@font-face {
  font-family: "Pacman";
  src: url(../assets/crackman/Crackman.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "VideoGame";
  src: url(../assets/born2bsporty-fs/Born2bSportyFS.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}